Repository mtopalovicTT/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @tapspatel, @vmilosevic, @svuckovicTT, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Got so far
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/binary/bitwise_op.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_and/simple_bitwise_and.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/bitwise_or/simple_bitwise_or.mlir
  test/ttmlir/Dialect/TTNN/eltwise/unary/bitwise_not/simple_bitwise_not.mlir
  test/ttmlir/Silicon/TTNN/simple_bitwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

L1 Interleaved policy helper methods
  include/ttmlir/Dialect/TTNN/Analysis/L1InterleavedPolicy.h
  include/ttmlir/Scheduler/Scheduler.h
  lib/Dialect/TTNN/Analysis/L1InterleavedPolicy.cpp
  lib/Dialect/TTNN/Analysis/MemoryLayoutAnalysis.cpp
  lib/Scheduler/PrecedenceScheduler.cpp
  lib/Scheduler/Scheduler.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt, @nsmithtt

Fix code references in op decomposition documentation
  docs/src/decomposing-an-op-in-ttir.md
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt

V2 l2 interleaved policy draft
  include/ttmlir/Dialect/TTNN/Analysis/L1InterleavedPolicy.h
  lib/Dialect/TTNN/Analysis/L1InterleavedPolicy.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Gather op implementation [#1015]
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/gather_op.mlir
  test/ttmlir/Dialect/TTNN/embedding/gather_to_embedding.mlir
  test/ttmlir/Silicon/TTNN/embedding/gather_to_embedding.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @nsmithtt

Add comments and blank lines
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
Owners: @nsmithtt

Create new general pooling op and decomposition pattern that converts to maxpool2d
  include/ttmlir/Dialect/TTIR/IR/CMakeLists.txt
  include/ttmlir/Dialect/TTIR/IR/TTIROps.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsAttrs.td
  include/ttmlir/Dialect/TTIR/IR/TTIROpsEnums.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPass.cpp
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecomposition.cpp
  lib/Conversion/TTIRToTTIRDecomposition/TTIRToTTIRDecompositionPass.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Dialect/TTIR/IR/TTIRDialect.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Transforms.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/maxpool2d_op.mlir
  test/ttmlir/Dialect/TTNN/pooling/complex_pooling.mlir
  test/ttmlir/Dialect/TTNN/pooling/simple_maxpool2d.mlir
  test/ttmlir/Dialect/TTNN/pooling/simple_pooling.mlir
  test/ttmlir/Silicon/TTNN/pooling/complex_pooling.mlir
  test/ttmlir/Silicon/TTNN/pooling/simple_pooling.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Correct typo and code review changes.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Pipelines/TTIRPipelines.h
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/eltwise/tertiary/where.cpp
  runtime/lib/ttnn/operations/eltwise/tertiary/where.h
  runtime/lib/ttnn/operations/eltwise/where/where.cpp
  runtime/lib/ttnn/program.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/select_op.mlir
  test/ttmlir/Dialect/TTNN/simple_where.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt

Initial changes for runtime stitching 2.0. TODO: Implement to_device, to_layout ops, figure out a way to specify device, refactor runtime submit API.
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/include/tt/runtime/types.h
  runtime/lib/ttnn/CMakeLists.txt
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/utils.h
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/ccl/all_gather.cpp
  runtime/lib/ttnn/operations/conv/conv2d.cpp
  runtime/lib/ttnn/operations/creation/full.cpp
  runtime/lib/ttnn/operations/data_movement/transpose.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary_composite.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary_composite.cpp
  runtime/lib/ttnn/operations/embedding/embedding.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.cpp
  runtime/lib/ttnn/operations/include/tt/runtime/ttnn/operations/utils.h
  runtime/lib/ttnn/operations/matmul/matmul.cpp
  runtime/lib/ttnn/operations/normalization/softmax.cpp
  runtime/lib/ttnn/operations/reduction/reduction.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/setup.py
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @tapspatel

Uplift third_party/tt-metal to 2024-11-11
  third_party/CMakeLists.txt
Owners: @nsmithtt

[Optimizer] Globally optimal shard config picker(numcores).
  include/ttmlir/Dialect/TTNN/Analysis/ShardSolver.h
  lib/Dialect/TTNN/Analysis/DFShardingPolicy.cpp
  lib/Dialect/TTNN/Analysis/ShardSolver.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt

#1190: Added runtime support for doing golden comparision for flatbuffers in ttrt
  include/ttmlir/Target/TTNN/program.fbs
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/debug.h
  runtime/include/tt/runtime/runtime.h
  runtime/lib/common/debug.cpp
  runtime/lib/runtime.cpp
  runtime/lib/ttnn/include/tt/runtime/ttnn/types.h
  runtime/lib/ttnn/program.cpp
  runtime/lib/ttnn/runtime.cpp
  runtime/tools/python/ttrt/common/callback.py
  runtime/tools/python/ttrt/common/run.py
  runtime/tools/python/ttrt/common/util.py
  runtime/tools/python/ttrt/runtime/__init__.py
  runtime/tools/python/ttrt/runtime/module.cpp
Owners: @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT @nobradovictt
/lib/Conversion/TTNNToEmitC/ @svuckovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT @nobradovictt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel
