Repository mtopalovicTT/tt-mlir, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nsmithtt, @tapspatel, @vmilosevic, @svuckovicTT, @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

.github/CODEOWNERS:

* @nsmithtt
*.fbs @tapspatel
/.github/ @vmilosevic
/include/ttmlir/Conversion/TTNNToEmitC/ @svuckovicTT
/include/ttmlir/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/include/ttmlir/Dialect/TTKernel/ @rjakovljevicTT
/include/ttmlir/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT @nobradovictt
/lib/Conversion/TTNNToEmitC/ @svuckovicTT
/lib/Dialect/TT/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTIR/ @sdjordjevicTT @rpavlovicTT @mrakitaTT @nobradovictt
/lib/Dialect/TTKernel/ @rjakovljevicTT
/lib/Dialect/TTNN/ @sdjordjevicTT @rpavlovicTT @nobradovictt
/runtime/ @jnie-TT @kmabeeTT @AleksKnezevic @pilkicTT
/runtime/tools/ @tapspatel

debug
  runtime/lib/runtime.cpp
  runtime/lib/ttmetal/command_queue.cpp
  runtime/lib/ttnn/program.cpp
  test/ttmlir/Silicon/TTMetal/simple_eltwise.mlir
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT, @nsmithtt

Revert "[Metal Direct] Reduce op (#784)"
  include/ttmlir/Dialect/TT/IR/TTOpsEnums.td
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TT/Utils/PhysicalCoreCoord.h
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsEnums.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTIR/Transforms/Passes.cpp
  lib/Dialect/TTMetal/Pipelines/TTMetalPipelines.cpp
  runtime/lib/ttmetal/command_queue.cpp
  test/ttmlir/Silicon/TTMetal/simple_reduce.mlir
  test/ttmlir/Silicon/TTMetal/simple_reduce_1x1.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Guard saving artifacts in ttrt performance mode and temporary skip for device perf tests
  runtime/tools/python/test/test_perf.py
  runtime/tools/python/ttrt/common/perf.py
Owners: @tapspatel

Uplift metal: fixed mesh device include, reshape, and memory constants
  runtime/include/tt/runtime/detail/ttmetal.h
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttnn/operations/context/get_device.cpp
  runtime/lib/ttnn/operations/data_movement/reshape.cpp
  runtime/lib/ttnn/operations/matmul/matmul.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Uplift third_party/tt-metal to origin/main 2024-10-08
  third_party/CMakeLists.txt
Owners: @nsmithtt

Remove preserve_fp32_precision until it is replaced by unpack_to_dest_mode (issue #879)
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  include/ttmlir/Target/TTMetal/program.fbs
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  runtime/lib/ttmetal/command_queue.cpp
Owners: @rjakovljevicTT, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add NoC Mcast Ops in D2M
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @rjakovljevicTT, @nsmithtt

Runtime - Update createBufferFromTensorRef() for Buffer API changes in tt-metal
  runtime/include/tt/runtime/detail/ttmetal.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

GELU Op implementation
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/unary.cpp
  test/ttmlir/Dialect/TTNN/eltwise/unary/gelu/simple_gelu.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_gelu.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

GELU Op implementation
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary.cpp
  test/ttmlir/Dialect/TTNN/eltwise/unary/gelu/simple_gelu.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_gelu.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Insert scaler CB in reduce kernels
  include/ttmlir/Dialect/TT/IR/TTOpsTypes.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOps.td
  include/ttmlir/Dialect/TTKernel/IR/TTKernelOpsTypes.td
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
  lib/Dialect/TT/IR/TTOpsTypes.cpp
  lib/Dialect/TTIR/Transforms/Allocate.cpp
  lib/Target/TTMetal/TTMetalToFlatbuffer.cpp
  runtime/lib/ttmetal/command_queue.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @rjakovljevicTT, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add support for logical xor op.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/binary/binary.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/binary/logical_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/logical_op.mlir
  test/ttmlir/Dialect/TTNN/eltwise/binary/logical_xor/simple_xor.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_xor.mlir
  test/ttmlir/Silicon/TTNN/simple_logical_xor.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Small fix after LLVM uplift
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  lib/Conversion/TTKernelToEmitC/TTKernelToEmitC.cpp
Owners: @nsmithtt

TTNNWraperLib init
  include/ttmlir/Backend/TTNN/TTNNWrapper.hpp
  lib/Backend/CMakeLists.txt
  lib/Backend/TTNN/CMakeLists.txt
  lib/Backend/TTNN/TTNNWrapperLib.cpp
  lib/Backend/TTNN/TTNNWrapperLib_Impl.hpp
  lib/CMakeLists.txt
  lib/Dialect/TTNN/IR/CMakeLists.txt
  lib/Dialect/TTNN/IR/TTNNOpsBackendInterfaces.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @nobradovictt

wrapped conversion mlir <-> metal for Shape, DataType, Layout and MemoryConfig
  include/ttmlir/Backend/TTNN/TTNNWrapper.hpp
  lib/Backend/TTNN/CMakeLists.txt
  lib/Backend/TTNN/TTNNWrapperLib.cpp
  lib/Backend/TTNN/TTNNWrapperLib_Impl.hpp
  lib/Dialect/TTNN/IR/TTNNOpsBackendInterfaces.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Add support for clamp op.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary_composite.cpp
  runtime/lib/ttnn/operations/eltwise/unary/unary_composite.h
  test/ttmlir/Conversion/StableHLOToTTIR/clamp_op.mlir
  test/ttmlir/Dialect/TTNN/simple_clamp.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_clamp.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

tidying
  include/ttmlir/Backend/TTNN/TTNNWrapper.hpp
  lib/Backend/TTNN/TTNNWrapperLib.cpp
  lib/Dialect/TTNN/IR/TTNNOpsBackendInterfaces.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Abstracted scheduler & created placeholder for new scheduler
  include/ttmlir/Scheduler/PrecedenceScheduler.h
  include/ttmlir/Scheduler/QueueScheduler.h
  include/ttmlir/Scheduler/Scheduler.h
  lib/Dialect/TTNN/Analysis/DFShardingPolicy.cpp
  lib/Dialect/TTNN/Analysis/L1InterleavedPolicy.cpp
  lib/Scheduler/CMakeLists.txt
  lib/Scheduler/PrecedenceScheduler.cpp
  lib/Scheduler/QueueScheduler.cpp
  lib/Scheduler/Scheduler.cpp
  test/unittests/TestScheduler/TestScheduler.cpp
Owners: @nsmithtt, @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Minor changes in Scheduler
  include/ttmlir/Scheduler/Scheduler.h
  lib/Scheduler/Scheduler.cpp
Owners: @nsmithtt

Fix for empty regions of dispatch op
  lib/Conversion/TTIRToTTMetal/TTIRToTTMetal.cpp
  test/ttmlir/Conversion/TTKernelToEmitC/ttkernel.mlir
Owners: @nsmithtt

Fix TTIR to TTNN conversion for all gather
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
Owners: @nsmithtt

Uplift third_party/tt-metal to 3a24131822 (Nov1) + fixes
  third_party/CMakeLists.txt
Owners: @nsmithtt

Runtime - Update createBufferFromTensorRef() for Buffer API changes in tt-metal
  runtime/include/tt/runtime/detail/ttmetal.h
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Build Fixes and ignore warning as error for deprecated declaration in tt-metal
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/common/system_desc.cpp
  runtime/lib/ttnn/operations/data_movement/slice.cpp
  runtime/lib/ttnn/operations/pool/maxpool2d.cpp
  runtime/lib/ttnn/operations/reduction/reduction.cpp
  runtime/lib/ttnn/runtime.cpp
Owners: @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Some codereview fixes.
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/eltwise/where/where.cpp
Owners: @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Refactor and give a structure to ttir\ttnn ops implementaiton files (#897)
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Added TTIR SelectOp for stablehlo.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/eltwise/where/where.cpp
  runtime/lib/ttnn/operations/eltwise/where/where.h
  test/ttmlir/Conversion/StableHLOToTTIR/select_op.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add TTNN dialect test.
  test/ttmlir/Dialect/TTNN/simple_where.mlir
Owners: @nsmithtt

[TTNN] Introducing dealloc pass for tensor memory deallocation after last use. (#889)
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Revert "Revert "[TTNN Dialect] Fix ops which don't support dps (#857)" (#902)" (#922)
  lib/Dialect/TTNN/IR/TTNNOps.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @nobradovictt

Add option to enable MLIR sparse constant propogation pass after stablehlo to ttir conversion.
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt

Improve option names.
  lib/Dialect/TTIR/Pipelines/TTIRPipelines.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt

Enable both remove-dead-values and sccp by default.
  include/ttmlir/Dialect/TTIR/Pipelines/TTIRPipelines.h
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt

Added variable max-legal-layouts parameter (#777) (#903)
  include/ttmlir/Dialect/TTIR/Transforms/Passes.td
  lib/Dialect/TTNN/Pipelines/TTNNPipelines.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt

Changed condition for op being TTSchedulable
  lib/Scheduler/Scheduler.cpp
Owners: @nsmithtt

PrecedenceScheduler implemented
  include/ttmlir/Scheduler/PrecedenceScheduler.h
  include/ttmlir/Scheduler/QueueScheduler.h
  include/ttmlir/Scheduler/Scheduler.h
  lib/Scheduler/PrecedenceScheduler.cpp
  lib/Scheduler/QueueScheduler.cpp
  lib/Scheduler/Scheduler.cpp
  test/unittests/TestScheduler/TestScheduler.cpp
Owners: @nsmithtt

Added LinearOp support
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Dialect/TTIR/IR/TTIROps.cpp
  lib/Dialect/TTNN/IR/TTNNOps.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/lib/ttnn/operations/CMakeLists.txt
  runtime/lib/ttnn/operations/linear/linear.cpp
  runtime/lib/ttnn/operations/linear/linear.h
  runtime/lib/ttnn/program.cpp
  test/ttmlir/Dialect/TTNN/linear/simple_linear.mlir
  test/ttmlir/Silicon/TTNN/simple_linear.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Resolve merge conflicts.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Dialect/TTNN/IR/TTNNOps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/StableHLOToTTIR/StableHLOToTTIRPatterns.cpp
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Conversion/TTNNToEmitC/TTNNToEmitC.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/eltwise/unary/unary.cpp
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @svuckovicTT, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT

Add tests.
  test/ttmlir/Conversion/StableHLOToTTIR/unary/log_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/logistic_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/tan_op.mlir
  test/ttmlir/Conversion/StableHLOToTTIR/unary/tanh_op.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_logit.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_tan.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_tanh.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @nsmithtt

Refactoring.
  include/ttmlir/Dialect/TTIR/IR/TTIROps.td
  include/ttmlir/Target/TTNN/program.fbs
  lib/Conversion/TTIRToTTNN/TTIRToTTNN.cpp
  lib/Target/TTNN/TTNNToFlatbuffer.cpp
  runtime/include/tt/runtime/detail/ttnn.h
  runtime/lib/ttnn/operations/eltwise/unary/unary.cpp
  test/ttmlir/Conversion/StableHLOToTTIR/unary/logit_op.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_ceil.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_cosine.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_log.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_logit.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_sine.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_tan.mlir
  test/ttmlir/Silicon/TTNN/perf_unit/test_perf_tanh.mlir
  test/ttmlir/Silicon/TTNN/simple_eltwise.mlir
Owners: @sdjordjevicTT, @rpavlovicTT, @mrakitaTT, @nobradovictt, @tapspatel, @nsmithtt, @jnie-TT, @kmabeeTT, @AleksKnezevic, @pilkicTT
